body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;  
    background-color:rgb(28,152,247);
    background-image: -moz-linear-gradient( -15deg, rgb(110,188,243) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient( -15deg, rgb(75, 108, 131) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient( -15deg, rgb(110,188,243) 0%, rgb(0, 0, 0) 100%);
  }
  
  /* GREETING TEXT */
  .greeting{
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    align-content: end;
  }
  #greeting-text {
    z-index: 100;
    font-size: 10vw;
    font-family: "DynaPuff";
    text-transform: uppercase;
    background: linear-gradient(0deg, rgb(54, 48, 58) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    filter: drop-shadow(2px 2px #333);
    justify-self: center;
    align-self: end;
  }
  /* MORNING STYLES */
  /* SUN */
  .sun {
    border-radius: 50%;
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgba(255, 208, 0, 0.996) 0%, rgb(250,198,75) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgba(250,223,109,0.99608) 0%, rgb(250,198,75) 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgba(250,223,109,0.99608) 0%, rgb(250,198,75) 100%);
    height: 35vw;
    width: 35vw;
    position: absolute;
    bottom: 5vw;
    right: -10vw;
    z-index: 3;
  }
  .sun::after { /* GLOW AROUND SUN */
    border-radius: 50%;
    height: 35vw;
    width: 35vw;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-shadow:0px 0px 25px 0px rgba(255, 255, 255, 0.85);
    -moz-box-shadow: 0px 0px 25px 0px rgba(249,207,39,0.85);
    box-shadow: 0px 0px 25px 0px rgba(249,207,39,0.85);
    mix-blend-mode: color-dodge;
    content: "";
  }
  .cloud {
    height: 15vw;
    width: auto;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 10;
  }
  #cloud1
  {
    animation: 50s infinite floatingCloud1;
    animation-timing-function: linear;
  }
  #cloud2
  {
    animation: 45s infinite floatingCloud2;
  }

  #amongus1
  {
    animation: 10s infinite floatingCloud1;
    animation-timing-function: linear;
  }
  #amongus2
  {
    animation: 5s infinite floatingCloud2;
  }

  #plane1
  {
    animation: 25s infinite floatingCloud1;
    animation-timing-function: linear;
  }
  #plane2
  {
    animation: 10s infinite floatingCloud2;
  }
  @keyframes floatingCloud1 {
    from {
      top: 5%;
      left: 0%;
    }
  
    to {
      top: 5%;
      left: 100%;
    }
  }
  @keyframes floatingCloud2 {
    from {
      top: 30%;
      left: 10%;
    }
  
    to {
      top: 30%;
      left: 100%;
    }
  }
  @keyframes floatingCloud3 {
    from {
      top: 0%;
      left: 70%;
    }
  
    to {
      top: 0%;
      left: 100%;
    }
  }
  @keyframes floatingCloud4 {
    from {
      top: 30%;
      left: 50%;
    }
  
    to {
      top: 30%;
      left: 100%;
    }
  }







  
  /* AFTERNOON STYLES */
/* SUN */
.noon-sun {
  border-radius: 50%;
  height: 35vw;
  width: 35vw;
  position: absolute;
  top: -5vw;
  right: 10vw;
  z-index: 3;
}

.noon-bg {
  background-color:rgb(28,152,247);
  background-image: -moz-linear-gradient( 65deg, rgb(130, 147, 160) 0%, rgb(105, 223, 255) 100%);
  background-image: -webkit-linear-gradient( 65deg, rgb(9, 148, 255) 0%, rgb(100, 134, 143) 100%);
  background-image: -ms-linear-gradient( 65deg, rgb(28,152,247) 0%, rgb(31,196,243) 100%);
}
.noon-gradient #greeting-text {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(17, 0, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vw;
  font-family: cursive;
}













@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
.stars, .twinkling {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}
.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}
.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;
-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
/* MOON */
.moon {
  border-radius: 50%;
  background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(208,219,230) 0%, rgb(223,226,233) 50%, rgb(228,232,239) 100%);
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(208,219,230) 0%, rgb(223,226,233) 50%, rgb(228,232,239) 100%);
  background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(208,219,230) 0%, rgb(223,226,233) 50%, rgb(228,232,239) 100%);
  height: 35vw;
  width: 35vw;
  position: absolute;
  top: -15vw;
  right: -10vw;
  z-index: 3;
}
.moon::after { /* GLOW AROUND MOON */
  border-radius: 50%;
  height: 35vw;
  width: 35vw;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow:0px 0px 25px 0px rgba(208,219,230,0.85);
  -moz-box-shadow: 0px 0px 25px 0px rgba(208,219,230,0.85);
  box-shadow: 0px 0px 25px 0px rgba(208,219,230,0.85);
  mix-blend-mode: lighten;
  content: "";
   {
  opacity: .5;
}
.night-gradient #greeting-text {
  background: linear-gradient(0deg, rgb(212, 80, 80) 0%, rgb(255, 255, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
}

